* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  overflow: hidden;
  background: linear-gradient(to bottom, #ffe1e6, #ffb6b9);
}

.preload {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 182, 185, 0.8);
  z-index: 9999;
  display: none;
}

.overlay.active {
  display: block;
}

.preload p {
  color: #fff;
  animation: load 3s ease;
}

@keyframes load {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.teks {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 500;
  color: #ff80ab;
  text-shadow: 2px 2px 4px rgba(255, 128, 171, 0.5);
  padding: 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s all ease;
  transform-origin: top left;
}

.teks:nth-child(5n) {
  background: linear-gradient(to bottom right, #f3a1a8, #ffced8);
}

.teks:nth-child(5n + 1) {
  background: linear-gradient(to bottom right, #84a9ac, #dbf4ff);
}

.teks:nth-child(5n + 2) {
  background: linear-gradient(to bottom right, #e4a9d4, #f1c0f6);
}

.teks:nth-child(5n + 3) {
  background: linear-gradient(to bottom right, #ffbad4, #ffd8eb);
}

.teks:nth-child(5n + 4) {
  background: linear-gradient(to bottom right, #ffd3b6, #ffe5cc);
}

.teks::after {
  content: "👆";
  position: absolute;
  bottom: 40px;
  font-size: 50px;
}

.panda {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  background: linear-gradient(to bottom right, #dbf4ff, #84a9ac);
  text-align: center;
}

.panda p {
  position: relative;
  display: inline-block;
  text-align: center;
  background: #ffffff;
  color: #ff80ab;
  font-size: 2em;
  font-weight: 600;
  padding: 15px 30px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.panda img {
  width: 250px;
}

.panda p::before {
  content: "";
  height: 25px;
  width: 25px;
  position: absolute;
  background: #ffffff;
  left: 10px;
  bottom: -10px;
  border-radius: 50%;
  z-index: -1;
}

.panda p::after {
  content: "";
  height: 20px;
  width: 25px;
  position: absolute;
  background: #ffb6b9;
  left: 20px;
  bottom: -13px;
  border-radius: 50%;
  z-index: -1;
}

.luv {
  position: relative;
}

.panda .luv i {
  color: #ff80ab;
  font-size: 8em;
  text-shadow: 0 0 5px #ff80ab, 0 0 5px #ff80ab, 0 0 5px #ff80ab, 0 0 5px #ff80ab;
  margin-top: 40px;
  animation: jj 0.8s ease-in-out infinite alternate;
  cursor: pointer;
}

@keyframes jj {
  to {
    transform: scale(1.1);
  }
}

.container-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
  display: none;
  opacity: 0;
  transition: 1s ease all;
}

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  scale: 1.1;
  background: #ffffff;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.modal {
  transform: translateY(150px);
  transition: 1s ease all;
  opacity: 0;
  width: 100%;
  text-align: center;
}

.open {
  transform: translateY(0);
  opacity: 1;
}

.frame {
  box-sizing: border-box;
  background: #ffffff;
  margin-bottom: 20px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 80px;
  width: 85vw;
  max-width: 400px;
  padding: 30px 15px 20px;
  animation: slide-up 0.8s ease forwards;
}

.frame img {
  width: 100%;
  margin-bottom: 15px;
}

.frame p {
  font-size: 1.4em;
  font-weight: 600;
}

.modal a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  background: #ffffff;
  color: #ff80ab;
  padding: 7px 20px;
  border-radius: 5px;
}

.modal .kirimPesan {
  padding-bottom: 100px;
}

.lope {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: space-around;
}

.lope span {
  color: #ff80ab;
  position: relative;
  margin-top: -40px;
  animation: animate 5s linear infinite;
  opacity: 0.7;
  font-size: 30px;
}

.lope span i {
  font-size: 35px;
}

@keyframes animate {
  0% {
    transform: translateY(0) scale(1);
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: translateY(110vh) scale(1);
  }
}

.ucapan {
  display: none;
}

marquee {
  width: 100%;
  background: linear-gradient(to bottom right, #ffb6b9, #ff80ab);
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
  font-weight: bold;
}
